.slider {
    &__navigation {
        position: absolute;
        bottom: 24px;
        left: 35px;
        display: flex;
        gap: 10px;
        z-index: 4;

        li {
            width: 10px;
            height: 10px;
            background: var(--color-white);

            &.is-active {
                background: var(--color-yellow);
            }
        }
    }
}
