@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");

:root {
    --color-yellow: #fcda16;
    --color-white: #fff;
    --color-black: #000;

    --offset-x: 36px;

    font-family: "Rubik", sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

button {
    border: none;
    background: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}
